
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: white;
}

.container {
    display: flex; 
    min-height: 100vh;
    
}

.sidebar {
    width: 30%;
    background-color: navy; 
    color: white;
    padding: 40px 20px;
    text-align: center;
}


.profile-img {
    width: 150px;       
    height: 150px;      
    border-radius: 50%; 
    object-fit: cover; 
    border: 3px solid white; 
    background-color: white;
}

.contact a {
    color: white;
    text-decoration: none;
}

/* 우측 내용 영역 스타일 */
.content {
    width: 70%;
    padding: 40px;
    background-color: white;
}

h2 {
    margin-top: 30px;
    color: black;
}

hr {
    border: 0;
    border-top: 1px solid white;
    margin-bottom: 20px;
}

ul {
    line-height: 1.8;
}

.skills-list {
    list-style: disc;
    padding-left: 20 px;
}

/* Lion - https://www.cursors-4u.com/cursor/nat146 */
* {
  cursor: url('https://cdn.cursors-4u.net/previews/lion-b04bb36c-32.webp') 32 32, auto !important;
}
/* End www.Cursors-4U.com Code */

